attrs==25.4.0
cartopy @ file:///C:/Users/swald/Desktop/Atmos/cartopy-0.25.0-cp314-cp314-win_amd64.whl
certifi==2026.2.25
cffi==2.0.0
cfgrib==0.9.15.1
cftime==1.6.5
charset-normalizer==3.4.4
click==8.3.1
colorama==0.4.6
contourpy==1.3.3
cycler==0.12.1
datetime==6.0
eccodes==2.46.0
findlibs==0.1.2
flexcache==0.3
flexparser==0.4
fonttools==4.61.1
gdal @ file:///C:/Users/swald/Desktop/Atmos/gdal-3.12.2-cp314-cp314-win_amd64.whl
herbie-data==2026.1.1
idna==3.11
kiwisolver==1.4.9
matplotlib==3.10.8
metpy==1.7.1
narwhals==2.17.0
netcdf4==1.7.4
numpy==2.4.2
packaging==26.0
pandas==3.0.1
pillow==12.1.1
pint==0.25.2
platformdirs==4.9.2
plotly==6.5.2
pooch==1.9.0
pycparser==3.0
pyparsing==3.3.2
pyproj==3.7.2
pyshp==3.0.3
python-dateutil==2.9.0.post0
pytz==2025.2
requests==2.32.5
scipy==1.17.1
shapely==2.1.2
six==1.17.0
tqdm==4.67.3
traitlets==5.14.3
typing-extensions==4.15.0
tzdata==2025.3
urllib3==2.6.3
xarray==2026.2.0
zope-interface==8.2
